body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: calc(25% - 40px); /* 4 колонки */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

    .product-item img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

button {
    background: #35424a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
}

    button:hover {
        background: #4e5b61;
    }

footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
